In [29]:
#SQL Lite is already present in python so we just need to import it
import sqlite3 as s
#So after importing we need to conncect to the data base
#'Var1'=sqlite3.connect("Database_name")

con=s.connect('Db-IMDB-Assignment.db')

#If the database is present then it will read it, but if the database is not present then it will create a new one.
#When we work with a database(Already present), once we close python the changes made to database will dissappear
#(That is they get removed as soon as the python is closed)

cr=s.connect('customer.db')#Creating a new Database

#cr=s.connect(':memory:')#    This creates a temporary database in RAM

#Creating a table inside a DB and then work with it

#What is a cursor: It tells the database what should be done.(This is the centrephase between Database and code)
#The cursor executes the query in the Database and returns values.

c=cr.cursor()#We define that c is a cursor for the database "cr"

#After declaring we use the "c"(Cursor) to execute queries
#Creating a table with docstring that is  if we type as below
'''
Hey
Hellow
He
ha
ha'''#The values are saved as typed with spaces and Enters

#IMP: SQLITE3 is Case Sensitive
#SQL has only 5 Datatypes which we can select from
'''Types of Datatypes:
1.Null
2.INTEGER(WHole numbers)
3.REAL(Can be decimals)
4.TEXT(Characters)
5.BLOB(Images,MP3)'''

c.execute("""CREATE TABLE customers(
first_name TEXT,
last_name TEXT,
email TEXT)""")

#By committing we actually execute the SQL Query
cr.commit()

#after we have run a query it is best practice to "Close the connection"
#cr.close()

'''IMPORTANT: To run any query we run it with the cursor using the execute command'''

'IMPORTANT: To run any query we run it with the cursor using the execute command'

In [32]:
#So to add a row into the db we run the same command
cr=s.connect('customer.db')
c=cr.cursor()
c.execute('''INSERT INTO customers VALUES('JOSE', 'NADAR', 'jose@gmail.com')''')
cr.commit()

#We can add multiples values into the table, provided the data should be a "LIST of TUPLES"

entry=[('Jeny','hope','jh@gmail.com'),('jose','Paul','jp@gmail.com')]

'''Now here we have to use a different command executemany'''

c.executemany('''INSERT INTO customers VALUES(?,?,?)''',entry)

#Here the ??? show the number of datapoints which are being entered.

cr.commit

In [45]:
#Query the Database
c.execute('''SELECT * FROM customers''')
c.fetchone() #Prints the first value from the table
c.fetchmany(1) #Fetches with a limit, as a command "Limit"
(c.fetchall()) #Fetches all values

print(c.fetchone())

#cr.commit()

None

In [ ]:
#SQLITE3 automatically predefines the Primary ID as the row number
'''If we run the query "Select row ID, * from movies" to view the IDs'''